.project {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project h1 {
    margin-top: 50px;
    color: #2f3035;
    font-size: 35px;
}

.project img {
    width: 700px;
    border-radius: 10px;
}

.project p {
    font-size: 40px;
    color: #2f3035;
    margin: 10px 200px 10px 200px;
}

.project svg {
    font-size: 60px;
    color: #2f3035;
    cursor: pointer;
}